.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fadeout {
  from {
    opacity: 1.0;
    display: block;
  }
  to {
    opacity: 0.0;
    display: none;
  }
}

.introNimitta {
  height: 100%;
}

.buttonSelectedColor {
  fill: lightblue;
}

.buttonNotSelectedColor {
  fill: grey;
}

circle:hover {
  fill: red;
}

.imageNimitta {
  grid-area: imageNimitta;
  width: 33.34vw;
  height: 33.34vw;
}

.descNimitta {
  grid-area: descNimitta;
}

@media (orientation: landscape) {
  .fullPage-Slide {
    width: 50vw;
  }
  .page-0 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "panel-1 panel-2";
    opacity: 1.0;
  }
  .introNimitta {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imageNimitta" "descNimitta";
  }
}

@media (orientation: portrait) {
  .fullPage-Slide {
    width: 100vw;
  }
  .page-0 {
    opacity: 1.0;
  }
  .fullPage-Slide {
    transition: transform 1s ease-out;
  }
  .introNimitta {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "imageNimitta descNimitta";
  }
}

.page {
  display: grid;
  position: fixed;
  transition: transform 1s ease-out;
}

.page-0 {
  /* z-index: 30; */
}

.page-1 {
  width: 100vw;
  background-color: yellow;
}

.page-2 {
  width: 100vw;
  background-color: purple;
}

.fullPage {
  height: 100vh;
}

.panel-1 {
  opacity: 1.0;
  grid-area: panel-1;
  background-color: white;
}

.panel-2 {
  opacity: 1.0;
  grid-area: panel-2;
  background-color: black;
}

.imageFrame {
  transform: rotateZ(-12.5deg);
  border-color: black;
  border-radius: 1em;
  background-color: white !important;
  border-style: dotted;
  position: relative;
  background-color: "blue";
  width: 33.34%;
  height: 33.34%;
  top: 10%;
  left: 33.33%;
}

.imgActual {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}